* {
  margin: 0;
  border: 0;
}
.dos {
  min-height: 100vh;
  max-width: 100%;
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dos .container-fluid {
  min-height: 98vh;
  background-repeat: x-repeat;
  background-size: contain;
  max-width: 98%;
}
.dos .container-fluid .row {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  display: flex;
}
.dos .container-fluid .col-sm-7 {
  min-height: 88vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: red;
}
.dos .container-fluid .col-sm-5 {
  min-height: 98vh;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(225, 225, 225, 0.1);
}
.dos .container-fluid .col-sm-5 img {
  height: 90%;
  width: 80%;
}
header {
  min-height: 100vh;
  max-width: 100%;
  background-color: rebeccapurple;
}
embed{
  min-height:50vh;width: 50%;
}@media(max-width:768px){
  embed{
    min-height: 50hv;width: 50%;position: absolute;
  }
}